body{
	background-color: #111;
	color: #bbb;
}
a{
	color: #5bc236;
	text-decoration: none;
}
h1{
	font: bold 14px/1.1 arial,sans-serif;
	color: #fff;
	float:left;
	margin: 0 0 5 0;
}
h2 {
	font: normal 12px/1 arial,sans-serif;
	color: #ccc;
	float:left;
	clear:left;
}

div#page {
	background-color: #000;
	border-color: #222;
}

div.caption-container {
	color: #eee;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	color: #888;
}
div.navigation a.prev {
	background-image: url(prevPageArrowWhite.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrowWhite.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	border-color: #333;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	font: normal 11px/1 arial,sans-serif;
}
div.pagination span.current {
	font: normal 11px/1 arial,sans-serif;
}
#transparent
{
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:1001;
     
    /* make it cover the whole screen */
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    /* make it white but fully transparent */
    background-color: white; 
    opacity:.00; 
    filter: alpha(opacity=00); 
}

#header {
    background-color: #303030;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
	margin-top: -60px;
}

#header ul
{
float: right;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 0.9em;
}
 
#header li
{
display: inline-block;
margin: 0;
padding: 0 5px 0 5px;
margin-right: 10px;
}

#header #header-content {
    margin: 10px;
}

#container{
	margin-top: 50px;
	padding-bottom: 30px;
}

#gallery{
	float:left;
	width:40%;
}

#count{
	float: center;
	margin-bottom: 120px;
}

#facebook{
	float:right;
	clear:right;
	margin-right: 100px
	display:inline;
}
#link{
	float:left;
	margin-right: 10px;
	padding-bottom: 10px;
}

#placeholder{
	margin-bottom: 91px;
	width: 60%;
}

#speedbar{
	text-align: center;
	padding-bottom: 170px;
}



#rightcolumn{
	width: 60%;
	float: right;
}